.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4f4dc1;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .Header-content {
    display: flex;
    width: 100%;
    padding: 0 5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &.Center {
      justify-content: center;
    }

    .Header-actions {
      display: flex;
      flex-direction: row;

      p {
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;      
      }
  
      .btn {
        width: 9rem;
      }
    }
  }
}

.Counter {
  font-style: normal;
  font-weight: 500;
  font-size: .6rem;
  line-height: .8rem;
  text-align: center;
  position: absolute;
  top: .4rem;
  right: .4rem;
  padding: .1rem;
  background: #45C8B0;
  border-radius: 50%;
  min-width: 1rem;
  height: 1rem;
  color: #fff;
}

.Modal-container {
  display: flex;
  flex-direction: column;
  width: 24rem;
  max-height: 40rem;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  .Modal-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 2rem;

    span {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
      text-align: left;
    }
  }

  .Modal-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #FCFCFC;

    .Empty {
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: 1.5rem;
      }
    }

    .Notifications-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: .3rem .5rem;
      padding: .5rem;
      border: 1px solid #4f4dc1;
      border-radius: 5px;

      .Notifications-message {
        font-size: .8rem;
        text-align: end;
      }
    }
  }
}

.Auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;

  .Form-body {
    width: 20rem;
    padding: 2rem;
    border: 1px solid #4f4dc1;
    border-radius: 25px;

    label {
      width: 100%;
      text-align: start;
      font-size: .8rem;
      margin-top: 1rem;
    }
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
